
.projectsSection{
  padding: 3em 0;
}
  .projectsContainer{
    position: relative;
    padding: 6em 0;
    margin-top: 10em;
  }
  .projectsContainer h2{
    position: absolute;
    top: -1em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15vw;
    z-index: 0;
    cursor: default;
  }
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    z-index: 1;
    background: #AAAAAA;
    border-radius: 2px;
  }
  .project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    z-index: 1;
    margin: 1em;
    border-radius: 2px;
    background-color:#DDDDDD;
    z-index: 1001;
  }
  .project img{
    padding-top: 2em;
    border-radius: 2px;
    width: 80%;
    height: 50%;
    object-fit: contain;
  }
  .project p{
    padding: 0.5em;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    line-height: 1.5;
    word-spacing: 1px;
  }
  .projectCredentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projectCredentials p{
    margin: 0;
    padding: 0;
  }
  .technologiesContainer{
    text-align: center;
  }
  .technologies{
    width: 100%;
    font-size: 1.5rem;
    color: #AAAAAA;
  }
  .technologies svg:hover{
    color: #000000;
  }
  .technologies svg{
    margin:0.5em;
    transition: color 0.3s;
  }
  .buttonRefs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .buttonRefs a{
    cursor: pointer;
  }
  .buttonRefs button{
    margin: 1em 0;
    padding: 1em;
    border: 2px solid #AAAAAA;
    background: transparent;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .buttonRefs button:hover{
    background: #000000;
    color: #DDDDDD;
    border: 2px solid #DDDDDD;
  }

  @media(min-width:1024px){
    .projectsSection{
      padding: 6em 0;
    }

    .buttonRefs button{
      padding: 1em 2em;
    }
    .projectsContainer h2{
      font-size: 12rem;
      top: -10%;
    }
    .project p{
      padding: 1em;
      font-size: 1rem;
    }
    .technologies{
      font-size: 2rem;
    }
    .projects{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
    }
  }

  @media(max-width: 768px){
    .projects{
      padding: 1em 0;
    }
  }