.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #AAAAAA;
    z-index: 1002;
    font-weight: bold;
}

.logo {
    margin:0 4em;;
}
.logo a{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.logo a svg{
    font-size: 1.3rem;
}

.navigationList {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navigationList li {
    padding: 0 2em;
    text-transform: uppercase;
}
.navigationList li a{
    text-decoration: none;
    padding: 1em 0.5em;
    transition: all 0.3s;
    cursor: pointer;
}
.navigationList li a:hover{
    background: black;
    color: #AAAAAA;
}
.active{
    background: black;
    color: #AAAAAA;
}
@media (max-width: 1024px){
.navigation{
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transform: translate(-100%);
    transition: 0.3s ease-in-out;
}
.navigationList{
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.logo {
    position: absolute;
    top: 10%;
}

.navigationList li {
    padding: 1em 0;
    margin: 2em 0;
    cursor: pointer;
    text-transform: uppercase;
}
.openNav{
    transform: translate(0);
}
}