.contactContainer{
    position: relative;
    padding: 6em 0;
}
.contactContainer h2{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 15vw;
    text-align: center;
    padding: 0;
    margin:0;
    z-index: 1;
}
.contactForm{
    padding: 3em;
    background: #AAAAAA;
}
.contactFormName{
    display: flex;
    flex-direction: column;
    grid-row: 1/1;
    grid-column: 1/1;
    width: 100%;
}

.contactFormName input{
    padding: 0.5em;
    margin: 0 1em;
    border-radius: 2px;
    border: 2px solid #DDDDDD;
    background-color: #AAAAAA;
    color:#DDE6ED ;
}
.contactFormEmail{
    display: flex;
    flex-direction: column;
    grid-row: 1/1;
    grid-column: 2/2;
}
.contactFormEmail input{
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 2px;
    border: 2px solid #DDDDDD;
    background-color: #AAAAAA;
    color:#DDE6ED ;
}
.contactFormMessage{
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 2/2;
}
.contactFormMessage textarea{
    resize: none;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 2px;
    border: 2px solid #DDDDDD;
    background-color: #AAAAAA;
}

.submitButton{
    grid-row: 3/3;
    grid-column: 2/2;
    margin:1em;
    padding: 0.5em;
    border-radius: 2px;
    border: 2px solid #DDDDDD;
    background-color: #AAAAAA;
    cursor: pointer;
    transition: all 0.3s;
}
.submitButton:hover{
    background-color: #DDDDDD;
    border: 2px solid #AAAAAA;
}

@media (min-width:1024px){
    .contactContainer h2{
        font-size: 15rem;
    }

}

@media(min-width: 726px){
    .contactForm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.9fr 1fr;
    }
    .contactContainer{
        padding: 16em 0;
    }
}
