.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: RGB(0,0,0, 0.5);
    z-index: 99999;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #AAAAAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.modal h3, .modal p{
    padding: 2em;
}
.modal button{
    padding: 1em 2em;
    margin: 1em;
    cursor: pointer;
    background: transparent;
    border: 2px solid #DDDDDD;
    transition: all 0.3s;
    font-weight: bold;
}
.modal button:hover{
    border: 2px solid #AAAAAA;
    background-color: #DDDDDD;
}