.contactSection{
    padding: 10em 0 3em;
}
.contactContainer{
    position: relative;
    padding: 3em 0;
}
.contactContainer h2{
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translate(-50%);
    font-size: 15vw;
    text-align: center;
    padding: 0;
    margin:0;
    cursor: default;
}
.contactForm{
    padding: 1em;
    background: #AAAAAA;
    color: #000000;
}
.contactFormName, .contactFormEmail,.contactFormMessage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1em 0;
}
.contactFormName{
    grid-row: 1/1;
    grid-column: 1/1;
}
.contactFormEmail{
    grid-row: 1/1;
    grid-column: 2/2;
}

.contactFormName input, .contactFormEmail input,.contactFormMessage textarea{
    padding: 1em;
    margin: 0;
    border-radius: 2px;
    border: 2px solid #DDDDDD;
    background-color: #AAAAAA;
}
.contactFormName label, .contactFormEmail label{
    position: absolute;
    margin: 1em;
    transition: all 0.3s;
    padding:0 1em;
}
.contactFormName:focus-within label,.contactFormName.active label, .contactFormEmail:focus-within label,.contactFormEmail.active label,.contactFormMessage:focus-within label, .contactFormMessage.active label {
    transform: translateY(-1.5em);
    font-size: 1rem;
    background: #AAAAAA;
}

.contactFormMessage{
    grid-column: 1/3;
    grid-row: 2/2;
}
.contactFormMessage textarea{
    resize: none;
    padding: 1em;
}
.contactFormMessage label{
    position: absolute;
    top: 0;
    margin: 0 1em;
    padding: 0.5em 0.5em 0 0.5em;
    transition: all 0.3s;
}
.submitButton{
    grid-row: 3/3;
    grid-column: 2/2;
    padding: 0.5em;
    border-radius: 2px;
    border: 2px solid #DDDDDD;
    background-color: #AAAAAA;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}
.submitButton:hover{
    background-color: #DDDDDD;
    border: 2px solid #AAAAAA;
}

@media (min-width:1024px){
    .contactContainer h2{
        font-size: 13rem;
        top: -0.5em;
    }

}

@media(min-width: 726px){
    .contactForm{
        display: grid;
        padding: 3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.9fr 1fr;
    }
    .contactContainer{
        padding: 10em 0;
    }
    .contactFormName input, .contactFormEmail input,.contactFormMessage textarea{
        margin: 0 1em;
    }
    .submitButton{
        margin: 1em;
    }
}


