.header {
  position: relative;
  width: 100%;
  padding:15em 0;
  font-size: 4vw;
  letter-spacing: 3px;
  font-family: Montserrat;
  line-height: 1.5;
  margin: 6em 0 12em 0;
  }
  .headerText{
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    animation:HeaderTextComesIn 1s forwards ;
  }
  .headerName{
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: HeaderNameComesIn 1s 1s forwards;
  }

  .headerImage{
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 1001;
  }
  .headerImage img {
    width: 40%;
    height: 40%;
    animation: ImageBorder 10s infinite;
  }
  
  @keyframes HeaderTextComesIn{
    0%{
      transform: translateX(-100%);
      opacity: 0;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes HeaderNameComesIn{
    0%{
      transform: translateY(100%);
      opacity: 0;
    }
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes ImageBorder{
    100%,0%{
      border-radius: 70% 56% 30% 70%/60% 75% 85% 80%;
    }
    25%{
      border-radius: 63% 50% 80% 95%/ 85% 45% 65% 90%;
    }
    50%{
      border-radius: 73% 80% 50% 85%/ 65% 75% 75% 50%;
    }
    75%{
      border-radius: 79% 52% 73% 64%/ 92% 74% 71% 80%;
    }
  }
  @media(min-width:576px){
    .header{
      padding: 10em 0;
    }
  }
  @media(min-width:768px){
    .header{
      padding: 8em 0;
      margin: 0;
      font-size: 3rem;
    }
  }