.app{
    font-family: Poppins;
    font-weight: bold;
    position: relative;
}
.hamburger{
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 10000;
  color: white;
}

@media(min-width:1024px){
  .hamburger{
    display: none;
  }
}