@import url('https://fonts.googleapis.com/css2?family=Nobile');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Nobile','Poppins',
    'Ubuntu', 'Cantarell', 'Fira Sans','Noto Sans JP', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDDDDD;
  color: #000000;
}
body,html{
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar{
  opacity: 0;
  width: 10px;
}
body:hover::-webkit-scrollbar-thumb{
  background:#AAAAAA;
}