@keyframes blob {
  100%,0% {
    border-radius: 24% 20% 35% 65% / 27% 21% 64% 73%;
    transform: rotate(40deg);
  }
  25% {
    border-radius: 36% 21% 26% 74% / 39% 48% 21% 61%;
    transform: rotate(60deg);
  }
  50% {
    border-radius: 52% 48% 14% 86% / 55% 21% 36% 45%;
    transform: rotate(80deg);
  }
  75% {
    border-radius: 24% 21% 35% 65% / 27% 36% 64% 15%;
    transform: rotate(60deg);
  }
}

.circle {
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode:difference;
  animation-name: blob;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
